<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{:: #content}, 'Movimientos')}">
<body>
    <div id="content">
        <h2>Movimientos</h2>
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Artículo</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="movement : ${movements}">
                                    <td th:text="${movement.type}"></td>
                                    <td th:text="${movement.article.name}"></td>
                                    <td th:text="${movement.units}"></td>
                                    <td th:text="${#temporals.format(movement.date, 'dd/MM/yyyy HH:mm')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
